.firstheading {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.body {

    text-align: center;
}

.ofert {
    text-align: center;
    font-size: large;
    margin-top: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    height: 400px;
    margin: 120px;
    background: #D4E09B;
    position: absolute;
    border-radius: 25px;



}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul {
    list-style: none;
    background: rgb(15, 168, 66);

}

ul li {
    display: inline-block;
    position: relative;

}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;


}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #D4E09B;
    position: absolute;
    z-index: 999;
    display: none;

}

ul li a:hover {
    background: #9DB91B;
}

ul li:hover ul.dropdown {
    display: block;
}

.firstsection {
    text-align: right;
}

.ctext {
    text-align: left;
}

.btext {
    text-align: right;
}