.firstheading {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.body  {
    background-color: grey;

}
.ofert{
    text-align: center;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul{
    list-style: none;
    background: #224;

}
ul li {
    display: inline-block;
    position: relative;
    
}
ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #213d21;
    position: absolute;
    z-index: 999;
    display: none;
   
}
ul li a:hover{
    background: #112C66;
}
ul li:hover ul.dropdown{
    display: block;
}


















